:root {
    --nav-height: 80px;
    /* fallback, blir oppdatert av JS */
    --bs-primary: #00C7B1;
    --bs-primary-rgb: 0, 199, 177;
    --bs-secondary: #055160;
    --bs-secondary-rgb: 5, 81, 96;
    
}

.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    color: #000;
}

.btn-primary:active,
.btn-primary.active {
    background-color: #04414A !important;
    border-color: #04414A !important;
    color: #ffffff !important;
    
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #9ADBE8;
    border-color: #9ADBE8;
    color: #000;
}

.btn-primary:hover {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
    color: #ffffff;
}

body {
    position: relative;
}

section {
    scroll-margin-top: 80px;
    /* juster etter høgda på navbaren */
}

header {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.navbar .nav-link {
    /*color: #007bff !important; /* Bootstrap-blå */
    font-weight: 500;
    transition: 0.2s;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
    color: #055160 !important;
    /* mørkare blå på hover */
    border-bottom: 2px solid #055160;
}


.w-70 {
    width: 70%;
    height: auto;
}

#nedtelling-head {
    line-height: 1;
    /* Hindrar at teksten flyt for høgt */
    display: flex;
    align-items: center;
}

.navbar {
    min-height: 60px;
    /* Gir betre vertikal balanse */
}

@media (max-width: 992px) {

    /* Sentrer nedtellinga på små skjermar */
    #nedtelling-head {
        font-size: 1.1rem;
    }
}