/*:root {
    --bs-primary: #0070a0;
    --bs-primary-rgb: 0, 112, 160;
}*/

body {
    position: relative;
}

section {
    scroll-margin-top: 80px; /* juster etter høgda på navbaren */
}

header {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.navbar .nav-link {
    color: white !important;
    font-weight: 500;
    transition: 0.2s;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
    text-decoration: underline;
}

.w-70 {
    width: 70%;
    height: auto;
}
